<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>aaa-prototype1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>shoemixx.inventory.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>shoemixx.inventory.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewProductServlet</servlet-name>
    <servlet-class>shoemixx.inventory.controller.NewProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BranchSelectionServlet</servlet-name>
    <servlet-class>shoemixx.inventory.controller.BranchSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewProductServlet</servlet-name>
    <url-pattern>/newproduct.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BranchSelectionServlet</servlet-name>
    <url-pattern>/branch.html</url-pattern>
  </servlet-mapping>
</web-app>